$width : 500px;
$bgColor : #abcd13;

#box {
	width:$width / 3;
	height: 100px;
	border:20px solid;
	background:red;
}

.last {
	width:300px;
	height:$width / 7;
	font-size: 18px;
}

@for $i from 1 to 11 {
	.margin-#{$i} {
		margin: #{$i}px;
	}
}

@mixin common($height: 500px) {
	width: $width;
	height: $height;
	background-color: $bgColor;
}

@if $width > 600px{
	#container {
		color : red;
		@include common;
	}
} @else {
	#container {
		color : blue;
		@include common;
	}
} 

.sty7 {
	@if $width / 3 > 200px {
		width : 200px;
	}
	height: 300px;
}

.sty5 {
	@include common(200px);
	text-align: center;
	line-height: 30px;
}

.sty6 {
	@extend .sty5;
	font-size : 18px;
}

#test {
	width : $width;
	background: $bgColor;
}

#demo {
	width: $width / 5;
}

.sty1 {
	.sty2 {
		width: $width;
	}

	.sty3 {
		height : $width / 5;
		background : $bgColor;
	}

	.sty4 {
		color: $bgColor;
		wdith: $width / 3;
	}
}

