
@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1501488278362'); /* IE9*/
  src: url('iconfont.eot?t=1501488278362#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('iconfont.woff?t=1501488278362') format('woff'), /* chrome, firefox */
  url('iconfont.ttf?t=1501488278362') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('iconfont.svg?t=1501488278362#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-head:before { content: "\e619"; }

.icon-home:before { content: "\e73a"; }

.icon-eye:before { content: "\e652"; }

.icon-start:before { content: "\e610"; }

.icon-fire:before { content: "\e729"; }

.icon-eye1:before { content: "\e633"; }

.icon-fenlei:before { content: "\e682"; }

.icon-zan:before { content: "\e61a"; }

.icon-identifyingcode:before { content: "\e63d"; }

.icon-ok:before { content: "\e6d7"; }

.icon-x:before { content: "\e632"; }

.icon-paimai:before { content: "\e621"; }

.icon-wode:before { content: "\e615"; }

.icon-biyan:before { content: "\e819"; }

.icon-weixin2:before { content: "\e503"; }

.icon-suo:before { content: "\e629"; }

.icon-fabu1:before { content: "\e502"; }

.icon-dingzhifuwu:before { content: "\e634"; }

.icon-fenleidaohanglan:before { content: "\e60d"; }

